*.pyc
.python-version
.ipynb_checkpoints
test.ipynb
run.sh
feature/
data/
checkpoints/
Failed Export/
Model Structures/
.venv*/
.vscode/
.idea/
tensorflow*.whl
*.h5
*.onnx
*/saved_model_tf*/
scripts/output/
saved_model_tf*/
